body {
    text-align: center;
    background-color: #ffe5f4;
    max-width: 70%;
    margin: 0 auto;
}

div.left {
    text-align: left;
}

a {
    color: #666666;
}

a:hover {
    color: #333333;
}

a:active {
    text-decoration: none;
}

ul.plain-list {
    list-style: none;
    padding-left: 0;
}

ul.blog-list {
    display: grid;
    list-style: none;
    padding-left: 0;
    margin: 1em auto;
    width: fit-content;
}

.blog-list li {
    display: grid;
    grid-template-columns: max-content 1fr;
    text-align: left;
    column-gap: 2rem;
}

@media (max-width: 1200px) {
    body {
        max-width: 90%;
    }
}
